<?xml version="1.0"?>

<model>
  <name>Monopoly</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Yee Hong Tham</name>
    <email>yhtham108@nevada.unr.edu</email>
  </author>

  <description>
    A monopoly set with board, pieces, money, and dice. 
  </description>
</model>
