<?xml version="1.0"?>

<model>
  <name>redDie</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Yee Hong Tham</name>
    <email>yhtham108@nevada.unr.edu</email>
  </author>

  <description>
    A die in the game of monopoly that is red. 
  </description>
</model>
